In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from fuzzywuzzy import process

In [3]:
sampled_movies = pd.read_csv('dataset.csv')

In [4]:
sampled_movies = movies.sample(n=500, random_state=42).reset_index(drop=True)

In [5]:
sampled_movies.to_csv('sampled_movies_dataset.csv', index=False)

In [6]:
movies = pd.read_csv('sampled_movies_dataset.csv')

### Exploratory data analysis

In [7]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,332567,The Shallows,"Horror,Drama,Thriller",en,"When Nancy is surfing on a secluded beach, she...",25.619,2016-06-24,6.4,4466
1,727293,The Tender Bar,Drama,en,J.R. is a fatherless boy growing up in the glo...,38.860,2021-12-17,6.7,340
2,9385,The Twelve Tasks of Asterix,"Family,Animation,Comedy,Adventure",fr,Asterix and Obelix depart on an adventure to c...,11.680,1976-06-26,7.4,947
3,635731,Pig,"Drama,Thriller",en,A truffle hunter who lives alone in the Oregon...,13.756,2021-07-16,6.7,787
4,8835,Legally Blonde,Comedy,en,"Elle Woods, a fashionable sorority queen, is d...",36.648,2001-07-13,6.7,3157

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 500 non-null    int64
 1   title              500 non-null    object
 2   genre              499 non-null    object
 3   original_language  500 non-null    object
 4   overview           500 non-null    object
 5   popularity         500 non-null    float64
 6   release_date       500 non-null    object
 7   vote_average       500 non-null    float64
 8   vote_count         500 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 35.3+ KB

In [9]:
movies.describe()

                  id   popularity  vote_average   vote_count
count     500.000000   500.000000    500.000000    500.00000
mean   169569.192000    38.930400      6.650400   1726.47200
std    213470.952704   238.723634      0.762379   3078.41067
min       141.000000     0.600000      4.800000    200.00000
25%     10651.750000     9.191750      6.100000    333.00000
50%     36687.000000    13.891500      6.600000    584.00000
75%    336886.750000    28.427750      7.200000   1650.00000
max    920394.000000  5278.336000      8.600000  25020.00000

In [10]:
movies.isnull().sum()

id                   0
title                0
genre                1
original_language    0
overview             0
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64

In [11]:
movies = movies.fillna(" ")

### Feature selection

In [12]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [13]:
movies = movies[['id', 'title', 'genre', 'overview']]

In [14]:
movies

,id,title,genre,overview
0,332567,The Shallows,"Horror,Drama,Thriller","When Nancy is surfing on a secluded beach, she..."
1,727293,The Tender Bar,Drama,J.R. is a fatherless boy growing up in the glo...
2,9385,The Twelve Tasks of Asterix,"Family,Animation,Comedy,Adventure",Asterix and Obelix depart on an adventure to c...
3,635731,Pig,"Drama,Thriller",A truffle hunter who lives alone in the Oregon...
4,8835,Legally Blonde,Comedy,"Elle Woods, a fashionable sorority queen, is d..."
...,...,...,...,...
495,27936,Micmacs,"Action,Comedy,Crime",While standing in the doorway of the video sho...
496,178,Blown Away,"Thriller,Action,Crime,Drama",Blown Away tells the story of Jimmy Dove who w...
497,398173,The House That Jack Built,"Drama,Horror,Crime,Thriller","Failed architect, engineer and vicious murdere..."
498,453278,The Rider,Drama,"Once a rising star of the rodeo circuit, and a..."
499,659067,Earth and Blood,"Action,Thriller",A sawmill owner and his teenage daughter becom...

In [15]:
movies['tags'] = movies['overview'] + movies['genre']

In [16]:
movies

,id,title,genre,overview,tags
0,332567,The Shallows,"Horror,Drama,Thriller","When Nancy is surfing on a secluded beach, she...","When Nancy is surfing on a secluded beach, she..."
1,727293,The Tender Bar,Drama,J.R. is a fatherless boy growing up in the glo...,J.R. is a fatherless boy growing up in the glo...
2,9385,The Twelve Tasks of Asterix,"Family,Animation,Comedy,Adventure",Asterix and Obelix depart on an adventure to c...,Asterix and Obelix depart on an adventure to c...
3,635731,Pig,"Drama,Thriller",A truffle hunter who lives alone in the Oregon...,A truffle hunter who lives alone in the Oregon...
4,8835,Legally Blonde,Comedy,"Elle Woods, a fashionable sorority queen, is d...","Elle Woods, a fashionable sorority queen, is d..."
...,...,...,...,...,...
495,27936,Micmacs,"Action,Comedy,Crime",While standing in the doorway of the video sho...,While standing in the doorway of the video sho...
496,178,Blown Away,"Thriller,Action,Crime,Drama",Blown Away tells the story of Jimmy Dove who w...,Blown Away tells the story of Jimmy Dove who w...
497,398173,The House That Jack Built,"Drama,Horror,Crime,Thriller","Failed architect, engineer and vicious murdere...","Failed architect, engineer and vicious murdere..."
498,453278,The Rider,Drama,"Once a rising star of the rodeo circuit, and a...","Once a rising star of the rodeo circuit, and a..."
499,659067,Earth and Blood,"Action,Thriller",A sawmill owner and his teenage daughter becom...,A sawmill owner and his teenage daughter becom...

In [17]:
new_data = movies.drop(columns=['genre', 'overview'])

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cv = CountVectorizer(max_features = 10000, stop_words = 'english')

In [20]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [21]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [22]:
vector.shape

(500, 5478)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
similarity = cosine_similarity(vector)

In [25]:
new_data[new_data['title']=="The Godfather"].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [26]:
distance = sorted(list(enumerate(similarity[2])), reverse = True, key = lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Twelve Tasks of Asterix
Balto II: Wolf Quest
Asterix & Obelix: God Save Britannia
Wizards of Waverly Place: The Movie
TMNT

In [27]:
def recommend(movie_title):
    # Use fuzzywuzzy to find the closest match
    closest_match = process.extractOne(movie_title, new_data['title'].values)
    
    if closest_match is None:
        print(f"Movie '{movie_title}' not found in the dataset.")
        return
    
    closest_title = closest_match[0]
    index = new_data[new_data['title'] == closest_title].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    print(f"Movies similar to '{closest_title}':")
    for i in distances[1:6]:  # Starting from 1 to exclude the movie itself
        print(new_data.iloc[i[0]].title)

In [28]:
recommend("iron mann")

Movies similar to 'Man Down':
Disobedience
Hachi: A Dog's Tale
Within
Extortion
Hush

In [29]:
import pickle

In [30]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [31]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [32]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,332567,The Shallows,"When Nancy is surfing on a secluded beach, she..."
1,727293,The Tender Bar,J.R. is a fatherless boy growing up in the glo...
2,9385,The Twelve Tasks of Asterix,Asterix and Obelix depart on an adventure to c...
3,635731,Pig,A truffle hunter who lives alone in the Oregon...
4,8835,Legally Blonde,"Elle Woods, a fashionable sorority queen, is d..."
...,...,...,...
495,27936,Micmacs,While standing in the doorway of the video sho...
496,178,Blown Away,Blown Away tells the story of Jimmy Dove who w...
497,398173,The House That Jack Built,"Failed architect, engineer and vicious murdere..."
498,453278,The Rider,"Once a rising star of the rodeo circuit, and a..."
499,659067,Earth and Blood,A sawmill owner and his teenage daughter becom...

In [33]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (1.35.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (5.3.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<25,>=16.8 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (2.0.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (4.7.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.2.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\geoffrey\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)